@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: #222222;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 19px 0;
}

.header__container a {
  text-decoration: none;
}

.header__left__logo {
  margin-right: 41px;
}

.header__right__logo:not(:last-child) {
  margin-right: 33px;
}

/* _____________Фон основной страницы с мужчиной__________ */
.picPage {
  background: #f1e4e6;
  height: 47.75em;
}

.picPage__container {
  height: 100%;
  background: url(../img/header/man.png) no-repeat -218px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picPage__title {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
  margin-right: 100px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #222222;
  text-transform: uppercase;
}

.picPage__title--fat {
  font-size: 48px;
  line-height: 58px;
}

.picPage__title--color {
  color: #f16d7f;
}

/* _______________Навигация страницы католог_________________ */
.navСatolog {
  height: 148px;
  background: #f8f3f4;
}

.navСatolog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navСatolog h1 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.navСatolog__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navСatolog__breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navСatolog__breadcrumbs ul li {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.navСatolog__breadcrumbs ul li:last-child a {
  color: #f16d7f;
}

.navСatolog__breadcrumbs ul li + li:before {
  padding: 4px;
  color: black;
  content: "/";
}

/* ___________________SHOPPING CART______________ */
.shopping__navСatolog h1 {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

/* ______Кнопки слайдера продукта________ */
.merchandise {
  position: relative;
}

.merchandise__BTNslider__left {
  position: absolute;
  top: 388px;
  left: 0;
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.merchandise__BTNslider__left svg {
  fill: black;
}

.merchandise__BTNslider__left:hover svg {
  fill: #f16d7f;
}

.merchandise__BTNslider__right {
  position: absolute;
  top: 388px;
  right: 0;
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.merchandise__BTNslider__right svg {
  fill: black;
}

.merchandise__BTNslider__right:hover svg {
  fill: #f16d7f;
}

/* ______________________Фон с девушкой продукта_______________ */
.slide {
  background: #f7f7f7;
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

/* ______________Описание продукта товара_______________ */
.description {
  margin-top: -65px;
  position: relative;
}

.description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border: 1px solid #eaeaea;
}

.description__box {
  width: 555px;
}

.description__box__top {
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.description__box__top h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.description__box__top h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-top: 12px;
  color: #4d4d4d;
  text-transform: uppercase;
}

.description__box__top p {
  margin-top: 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
}

.description__box__top strong {
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.description__box__bottom {
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-top: 1px solid #eaeaea;
}

.description__box__bottom__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__box__bottom__filter__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__box__bottom__filter__choice h3 {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-right: 9px;
}

.description__box__bottom__filter__choice :not(:first-child) {
  margin-right: 23px;
}

.description__box__bottom__btn {
  margin-top: 48px;
  padding: 14px 56px 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 1px solid #ff6a6a;
}

.description__box__bottom__btn span {
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  margin-left: 23px;
}

/* _________________Секция коллекции основной страницы_____________ */
.collection__container {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection__snapshot {
  width: 100%;
  height: 180px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__snapshot h2 {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
}

.collection__snapshot span {
  font-size: 24px;
  line-height: 30px;
  color: #f16d7f;
}

.collection__snapshot--woman {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/collection/snapshot/woman.png);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/woman.png);
}

.collection__snapshot--man {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/collection/snapshot/man.png);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/man.png);
}

.collection__snapshot--kid {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/collection/snapshot/kids.png);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/kids.png);
}

.collection__snapshot--things {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/collection/snapshot/things.png);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/things.png);
}

.collection__snapshot:not(:last-child) {
  width: 360px;
  height: 260px;
}

/* _____________Товары основной страницы________________ */
.CardProduct__container {
  padding: 95px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CardProduct__title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.CardProduct__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9f9f9f;
}

.CardProduct__product {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CardProduct__product__Card {
  margin-top: 30px;
}

.CardProduct__btn {
  border: 1px solid #ff6a6a;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding: 14px 38px;
  text-align: center;
  background: white;
  margin-top: 49px;
  text-decoration: none;
}

.Card {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
}

.Card:hover .Card__img__addtocart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.Card__img {
  width: 360px;
  height: 420px;
  position: relative;
  background: #f8f8f8;
}

.Card__img__addtocart {
  width: 360px;
  height: 420px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.Card__img__addtocart a {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 13px 16px 13px 50px;
  border: 1px solid #FFFFFF;
  background: url(../img/sign/basketAddToCatd.png) no-repeat 10px 10px;
}

.Card__text {
  padding: 25px 29px 20px 18px;
}

.Card__text h3 {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.Card__text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 13px 0 18px 0;
}

.Card__text span {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.section__benefits-catolog {
  margin-top: 51px;
  padding-bottom: 96px;
}

.container__benefits-catolog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.filter__benefits-catolog {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left__filter__benefits-catolog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__filter__benefits-catolog {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 11px;
}

.right__filter__benefits-catolog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 70px;
}

.choice__right__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice__right__filter:not(:first-child) {
  margin-left: 28px;
}

.subtite__right__filter {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-right: 10px;
}

.w3-bar__catalog {
  padding: 12px 15px;
  margin: 0 auto;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ebebeb;
  background: #ffffff;
}

.list__w3-bar__catalog {
  list-style-type: none;
}

.list__w3-bar__catalog:not(:first-child) {
  margin-left: 18px;
}

.w3-btn {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ebebeb;
}

.w3-btn__arrow {
  list-style-type: none;
  color: #000000;
}

.w3-btn__color {
  color: #ef5b70;
}

/* __________Слайдер каталога продукты_____________ */
.slideCatolog {
  padding: 129px 0;
}

.slideCatolog__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ____________Выбор продукции Cart________________ */
.shopCardProduct {
  padding: 96px 0 128px 0;
}

.shopCardProduct__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopCardProduct__product {
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopCardProduct__product--indent:not(:first-child) {
  margin-top: 40px;
}

.shopCardProduct__product__functions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.shopCardProduct__product__functions a {
  padding: 16px 40px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
}

.shopCardProduct__delivery {
  width: 359px;
}

.shopCardProduct__delivery h2 {
  margin-top: 22px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopCardProduct__delivery form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopCardProduct__delivery form input {
  padding-left: 16px;
  width: 359px;
  height: 44px;
  margin-top: 21px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.shopCardProduct__delivery form input:first-child {
  color: #B1B1B1;
}

.shopCardProduct__delivery form input::-webkit-input-placeholder {
  color: #222222;
}

.shopCardProduct__delivery form input:-ms-input-placeholder {
  color: #222222;
}

.shopCardProduct__delivery form input::-ms-input-placeholder {
  color: #222222;
}

.shopCardProduct__delivery form input::placeholder {
  color: #222222;
}

.shopCardProduct__delivery form input:first-child::-webkit-input-placeholder {
  color: #B1B1B1;
}

.shopCardProduct__delivery form input:first-child:-ms-input-placeholder {
  color: #B1B1B1;
}

.shopCardProduct__delivery form input:first-child::-ms-input-placeholder {
  color: #B1B1B1;
}

.shopCardProduct__delivery form input:first-child::placeholder {
  color: #B1B1B1;
}

.shopCardProduct__delivery form button {
  margin-top: 24px;
  width: 100px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
}

.shopCardProduct__delivery__completion {
  margin-top: 57px;
  background: #F5F3F3;
  padding: 39px 0 42px 0;
}

.shopCardProduct__delivery__completion__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shopCardProduct__delivery__completion__price h3 {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-right: 34px;
}

.shopCardProduct__delivery__completion__price h3 strong {
  margin-left: 25px;
}

.shopCardProduct__delivery__completion__price h4 {
  margin-top: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-right: 37px;
}

.shopCardProduct__delivery__completion__price h4 strong {
  margin-left: 25px;
  color: #f16d7f;
}

.shopCardProduct__delivery__completion__end {
  border-top: 1px solid #E2E2E2;
  margin: 21px 43px 0 44px;
  padding-top: 27px;
  width: 275px;
}

.shopCardProduct__delivery__completion__end a {
  background: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 42px;
}

.shopCard {
  width: 100%;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 10px 15px 15px #E5E5E5;
          box-shadow: 10px 15px 15px #E5E5E5;
}

.shopCard__img img {
  width: 262px;
  height: 306px;
}

.shopCard__text {
  padding: 22px 22px 62px 32px;
  width: 390px;
}

.shopCard__text__title {
  width: 100%;
  position: relative;
  margin-bottom: 42px;
}

.shopCard__text__title h2 {
  width: 262px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.shopCard__text__title svg {
  fill: #575757;
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}

.shopCard__text h3 {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopCard__text h3 span {
  color: #f16d7f;
}

.shopCard__text h3:not(:first-child) {
  margin-top: 6px;
}

.shopCard__text__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopCard__text__choice__numb {
  border: 1px solid #EAEAEA;
  padding: 0 16px;
  margin-left: 24px;
}

.shopCard__text__choice__numb strong {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

/* _________________Регистрация_____________________ */
.registration {
  padding: 64px 0 96px 0;
}

.registration__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.registration .form {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration .form legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration .form__field {
  height: 44px;
  width: 100%;
  margin-top: 21px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-left: 17px;
  color: #B1B1B1;
}

.registration .form__field::-webkit-input-placeholder {
  color: #B1B1B1;
}

.registration .form__field:-ms-input-placeholder {
  color: #B1B1B1;
}

.registration .form__field::-ms-input-placeholder {
  color: #B1B1B1;
}

.registration .form__field::placeholder {
  color: #B1B1B1;
}

.registration .form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 31px 0 33px 0;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration .form fieldset input {
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  margin-right: 10px;
}

.registration .form fieldset input:last-child {
  margin-left: 20px;
}

.registration .form p {
  margin-top: 15px;
  width: 100%;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .form__btn {
  margin-top: 39px;
  width: 167px;
  height: 50px;
  border: none;
  background: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-image: url(../img/sign/arrow__btn-reg.svg);
  background-repeat: no-repeat;
  background-position: 110px 20px;
}

.registration__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__text h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__text p {
  max-width: 652px;
  margin-top: 22px;
}

.registration__text ul {
  margin-top: 21px;
}

.registration__text ul li {
  margin-left: 30px;
  padding-left: 20px;
  list-style-type: none;
  list-style-image: url(../img/sign/checkmark.svg);
  /* list-style-position: inside; */
}

.registration__text ul li:not(:first-child) {
  margin-top: 16px;
}

.registration:hover form {
  -webkit-animation: test0 25s;
          animation: test0 25s;
}

.registration:hover ul {
  -webkit-animation: test 15s;
          animation: test 15s;
}

.registration:hover ul li:nth-child(1) {
  -webkit-animation: test1 25s;
          animation: test1 25s;
}

.registration:hover ul li:nth-child(2) {
  -webkit-animation: test2 25s;
          animation: test2 25s;
}

.registration:hover ul li:nth-child(3) {
  -webkit-animation: test3 25s;
          animation: test3 25s;
}

.registration:hover ul li:nth-child(4) {
  -webkit-animation: test4 25s;
          animation: test4 25s;
}

.registration:hover ul li:nth-child(5) {
  -webkit-animation: test5 25s;
          animation: test5 25s;
}

@-webkit-keyframes test {
  0% {
    -webkit-transform: rotateX(720deg);
            transform: rotateX(720deg);
  }
  20% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  40% {
  }
  60% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
  }
}

@keyframes test {
  0% {
    -webkit-transform: rotateX(720deg);
            transform: rotateX(720deg);
  }
  20% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  40% {
  }
  60% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
  }
}

@-webkit-keyframes test0 {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0;
  }
  40% {
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes test0 {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0;
  }
  40% {
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes test1 {
  0% {
    color: aqua;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -300px;
    color: gold;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -400px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -500px;
    color: black;
  }
  100% {
  }
}

@keyframes test1 {
  0% {
    color: aqua;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -300px;
    color: gold;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -400px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -500px;
    color: black;
  }
  100% {
  }
}

@-webkit-keyframes test2 {
  0% {
    color: hotpink;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -400px;
    color: lightblue;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -500px;
    color: black;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -500px;
  }
  100% {
  }
}

@keyframes test2 {
  0% {
    color: hotpink;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -400px;
    color: lightblue;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -500px;
    color: black;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -500px;
  }
  100% {
  }
}

@-webkit-keyframes test3 {
  0% {
    color: lightseagreen;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -500px;
    color: black;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -500px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -335px;
  }
  100% {
  }
}

@keyframes test3 {
  0% {
    color: lightseagreen;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -500px;
    color: black;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -500px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -335px;
  }
  100% {
  }
}

@-webkit-keyframes test4 {
  0% {
    color: yellow;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -400px;
    color: springgreen;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -500px;
    color: black;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -500px;
  }
  100% {
  }
}

@keyframes test4 {
  0% {
    color: yellow;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -400px;
    color: springgreen;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -500px;
    color: black;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -500px;
  }
  100% {
  }
}

@-webkit-keyframes test5 {
  0% {
    color: turquoise;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -300px;
    color: peru;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -400px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -500px;
    color: black;
  }
  100% {
  }
}

@keyframes test5 {
  0% {
    color: turquoise;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  20% {
    margin-left: -300px;
    color: peru;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
  }
  40% {
    margin-left: -400px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  60% {
    margin-left: -500px;
    color: black;
  }
  100% {
  }
}

/* _______________Блок с инфорацией______________ */
.inform {
  background: #222224;
  height: 21.3125em;
}

.inform__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inform__blok {
  width: 360px;
  height: 134px;
  text-align: center;
}

.inform__blok h3 {
  margin-top: 28px;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.inform__blok p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #fbfbfb;
}

/* ________________________Подвал___________________ */
.footer__subscribe {
  height: 28em;
  background: url(../img/footer/photo-subscribe.jpg) no-repeat;
  background-size: cover;
}

.footer__subscribe__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__subscribe__biography {
  background: url(../img/footer/Intersect.png) no-repeat center 0;
  padding-top: 100px;
}

.footer__subscribe__biography p {
  max-width: 360px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer__subscribe__inquiry {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subscribe__inquiry h2 {
  color: #222224;
  font-size: 18px;
}

.footer__subscribe__inquiry span {
  color: #222224;
  font-size: 24px;
  line-height: 167.2%;
}

.footer__subscribe__inquiry form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.footer__subscribe__inquiry form input {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  background: #e1e1e1;
  border: none;
  height: 3.5em;
  border-radius: 50px 0 0 50px;
  width: 18.285714285714285em;
  padding-left: 22px;
}

.footer__subscribe__inquiry form button {
  background: #f16d7f;
  border: none;
  height: 3.5em;
  width: 7.142857142857143em;
  border-radius: 0 50px 50px 0;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.footer__bottom {
  background: #222224;
  height: 79px;
}

.footer__bottom__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom p {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer__bottom__socialnetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom__socialnetwork__logo {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

.footer__bottom__socialnetwork__logo svg {
  fill: #000000;
}

.footer__bottom__socialnetwork__logo:not(:last-child) {
  margin-right: 7px;
}

.footer__bottom__socialnetwork__logo:hover {
  background: #f16d7f;
}

.footer__bottom__socialnetwork__logo:hover svg {
  fill: #ffffff;
}
/*# sourceMappingURL=style.css.map */