* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
}

.wraper {
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

@import "modul/header";

/* _____________Фон основной страницы с мужчиной__________ */

.picPage {
    background: #f1e4e6;
    height: 47.75em;
    &__container {
        height: 100%;
        background: url(../img/header/man.png) no-repeat -218px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__title {
        padding-left: 16px;
        border-left: 12px solid#F16D7F;
        margin-right: 100px;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #222222;
        text-transform: uppercase;
        &--fat {
            font-size: 48px;
            line-height: 58px;
        }
        &--color {
            color: #f16d7f;
        }
    }
}


/* _______________Навигация страницы католог_________________ */

.navСatolog {
    height: 148px;
    background: #f8f3f4;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    & h1 {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 29px;
        color: #f16d7f;
    }
    &__breadcrumbs {
        display: flex;
        &__subtite {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
            text-transform: uppercase;
            &--color {
                color: #f16d7f;
            }
        }
    }
}


/* ___________________SHOPPING CART______________ */

.shopping__navСatolog {
    & h1 {
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        text-transform: uppercase;
    }
}


/* ______Кнопки слайдера продукта________ */

.merchandise {
    position: relative;
    &__BTNslider__left {
        position: absolute;
        top: 388px;
        left: 0;
        background: rgba(42, 42, 42, 0.15);
        width: 47px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
            fill: black;
        }
    }
    &__BTNslider__left:hover {
        & svg {
            fill: #f16d7f;
        }
    }
    &__BTNslider__right {
        position: absolute;
        top: 388px;
        right: 0;
        background: rgba(42, 42, 42, 0.15);
        width: 47px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
            fill: black;
        }
    }
    &__BTNslider__right:hover {
        & svg {
            fill: #f16d7f;
        }
    }
}


/* ______________________Фон с девушкой продукта_______________ */

.slide {
    background: #f7f7f7;
    height: 777px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* ______________Описание продукта товара_______________ */

.description {
    margin-top: -65px;
    position: relative;
    &__container {
        display: flex;
        justify-content: center;
        background: #ffffff;
        border: 1px solid #eaeaea;
    }
    &__box {
        width: 555px;
        &__top {
            padding: 65px 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            & h2 {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #f16d7f;
            }
            & h3 {
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
                margin-top: 12px;
                color: #4d4d4d;
                text-transform: uppercase;
            }
            & p {
                margin-top: 48px;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #5e5e5e;
            }
            & strong {
                margin-top: 32px;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #ef5b70;
            }
        }
        &__bottom {
            padding: 65px 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            border-top: 1px solid #eaeaea;
            &__filter {
                display: flex;
                align-items: center;
                &__choice {
                    display: flex;
                    align-items: center;
                    & h3 {
                        font-size: 14px;
                        line-height: 17px;
                        color: #6f6e6e;
                        margin-right: 9px;
                    }
                }
                &__choice :not(:first-child) {
                    margin-right: 23px;
                }
            }
            &__btn {
                margin-top: 48px;
                padding: 14px 56px 10px 24px;
                display: flex;
                align-items: center;
                background: #ffffff;
                border: 1px solid #ff6a6a;
                & span {
                    font-size: 16px;
                    line-height: 19px;
                    color: #f26376;
                    margin-left: 23px;
                }
            }
        }
    }
}


/* _________________Секция коллекции основной страницы_____________ */

.collection {
    &__container {
        padding-top: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__snapshot {
        width: 100%;
        height: 180px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        & h2 {
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            text-transform: uppercase;
        }
        & span {
            font-size: 24px;
            line-height: 30px;
            color: #f16d7f;
        }
        &--woman {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/woman.png);
        }
        &--man {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/man.png);
        }
        &--kid {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/kids.png);
        }
        &--things {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/things.png);
        }
    }
    &__snapshot:not(:last-child) {
        width: 360px;
        height: 260px;
    }
}


/* _____________Товары основной страницы________________ */

.CardProduct {
    &__container {
        padding: 95px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #222222;
    }
    &__text {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #9f9f9f;
    }
    &__product {
        margin-top: 18px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__Card {
            margin-top: 30px;
        }
    }
    &__btn {
        border: 1px solid #ff6a6a;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        padding: 14px 38px;
        text-align: center;
        background: white;
        margin-top: 49px;
        text-decoration: none;
    }
}

@import "modul/Card";
.section__benefits-catolog {
    margin-top: 51px;
    padding-bottom: 96px;
}

.container__benefits-catolog {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}

.filter__benefits-catolog {
    margin-bottom: 35px;
    display: flex;
}

.left__filter__benefits-catolog {
    display: flex;
    align-items: center;
}

.title__filter__benefits-catolog {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 11px;
}

.right__filter__benefits-catolog {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-right: 70px;
}

.choice__right__filter {
    display: flex;
    align-items: center;
}

.choice__right__filter:not(:first-child) {
    margin-left: 28px;
}

.subtite__right__filter {
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    margin-right: 10px;
}

.w3-bar__catalog {
    padding: 12px 15px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    border: 1px solid #ebebeb;
    background: #ffffff;
}

.list__w3-bar__catalog {
    list-style-type: none;
}

.list__w3-bar__catalog:not(:first-child) {
    margin-left: 18px;
}

.w3-btn {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #ebebeb;
}

.w3-btn__arrow {
    list-style-type: none;
    color: #000000;
}

.w3-btn__color {
    color: #ef5b70;
}


/* __________Слайдер каталога продукты_____________ */

.slideCatolog {
    padding: 129px 0;
    &__product {
        display: flex;
        justify-content: space-between;
    }
}


/* ____________Выбор продукции Cart________________ */

.shopCardProduct {
    padding: 96px 0 128px 0;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__product {
        width: 652px;
        display: flex;
        flex-direction: column;
        &--indent:not(:first-child) {
            margin-top: 40px;
        }
        &__functions {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 72px;
            & a {
                padding: 16px 40px;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                border: 1px solid #A4A4A4;
            }
        }
    }
    &__delivery {
        & h2 {
            margin-top: 22px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }
        & form {
            display: flex;
            flex-direction: column;
            & input {
                width: 359px;
                height: 44px;
                margin-top: 21px;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #222222;
            }
            & button {
                margin-top: 24px;
                width: 100px;
                height: 34px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                text-transform: uppercase;
                border: 1px solid #A4A4A4;
                background: #FFFFFF;
            }
        }
        &__completion {
            margin-top: 57px;
            background: #F5F3F3;
            padding: 39px 0 42px 0;
            &__price {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                & h3 {
                    font-size: 11px;
                    line-height: 13px;
                    color: #4A4A4A;
                    margin-right: 34px;
                    & strong {
                        margin-left: 25px;
                    }
                }
                & h4 {
                    margin-top: 12px;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #222222;
                    margin-right: 37px;
                    & strong {
                        margin-left: 25px;
                        color: #f16d7f;
                    }
                }
            }
            &__end {
                & a {
                    background: #F16D7F;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                    padding: 15px 42px;
                }
            }
        }
    }
}

.shopCard {
    width: 100%;
    height: 306px;
    display: flex;
    box-shadow: 10px 15px 15px #A4A4A4;
    ;
    &__img {
        & img {
            width: 262px;
            height: 306px;
        }
    }
    &__text {
        padding: 22px 22px 62px 32px;
        &__title {
            position: relative;
            margin-bottom: 42px;
            & h2 {
                width: 262px;
                font-size: 24px;
                line-height: 29px;
                color: #222222;
            }
            & svg {
                fill: #575757;
                position: absolute;
                right: 0;
                top: 5px;
                cursor: pointer;
            }
        }
        & h3 {
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            & span {
                color: #f16d7f;
            }
            &:not(:first-child) {
                margin-top: 6px;
            }
        }
        &__choice {
            display: flex;
            &__numb {
                border: 1px solid #EAEAEA;
                padding: 0 16px;
                margin-left: 24px;
                & strong {
                    font-size: 18px;
                    line-height: 22px;
                    color: #656565;
                }
            }
        }
    }
}


/* _______________Блок с инфорацией______________ */

.inform {
    background: #222224;
    height: 21.3125em;
    &__container {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
    &__blok {
        width: 360px;
        height: 134px;
        text-align: center;
        & h3 {
            margin-top: 28px;
            font-size: 19.96px;
            line-height: 24px;
            color: #fbfbfb;
        }
        & p {
            margin-top: 16px;
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            color: #fbfbfb;
        }
    }
}


/* ________________________Подвал___________________ */

.footer {
    &__subscribe {
        height: 28em;
        background: url(../img/footer/photo-subscribe.jpg) no-repeat;
        background-size: cover;
        &__container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__biography {
            background: url(../img/footer/Intersect.png) no-repeat center 0;
            padding-top: 100px;
            & p {
                max-width: 360px;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
            }
        }
        &__inquiry {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            & h2 {
                color: #222224;
                font-size: 18px;
            }
            & span {
                color: #222224;
                font-size: 24px;
                line-height: 167.2%;
            }
            & form {
                display: flex;
                align-items: center;
                margin-top: 32px;
                & input {
                    font-size: 14px;
                    line-height: 17px;
                    color: #222224;
                    opacity: 0.67;
                    background: #e1e1e1;
                    border: none;
                    height: 3.5em;
                    border-radius: 50px 0 0 50px;
                    width: 18.285714285714285em;
                    padding-left: 22px;
                }
                & button {
                    background: #f16d7f;
                    border: none;
                    height: 3.5em;
                    width: 7.142857142857143em;
                    border-radius: 0 50px 50px 0;
                    font-size: 14px;
                    line-height: 17px;
                    color: #ffffff;
                }
            }
        }
    }
    &__bottom {
        background: #222224;
        height: 79px;
        &__container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        & p {
            font-size: 16px;
            line-height: 19px;
            color: #fbfbfb;
        }
        &__socialnetwork {
            display: flex;
            &__logo {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #ffffff;
                & svg {
                    fill: #000000;
                }
            }
            &__logo:not(:last-child) {
                margin-right: 7px;
            }
            &__logo:hover {
                background: #f16d7f;
                & svg {
                    fill: #ffffff;
                }
            }
        }
    }
}