* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    background: #222222;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 19px 0;
}

.logo__left__header {
    margin-right: 41px;
}

.logo__right__header:not(:last-child) {
    margin-right: 33px;
}

.section__picPage {
    background: #F1E4E6;
    height: 47.75em;
}

.container__picPage {
    height: 100%;
    background: url(../img/header/man.png) no-repeat -218px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title__picPage {
    padding-left: 16px;
    border-left: 12px solid#F16D7F;
    margin-right: 100px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    text-transform: uppercase;
}

.fat_title__picPage {
    font-size: 48px;
    line-height: 58px;
}

.color_title__picPage {
    color: #F16D7F;
}

.container__collection {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.snapshot_collection:not(:last-child) {
    width: 360px;
    height: 260px;
}

.snapshot_collection {
    width: 100%;
    height: 180px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title__snapshot {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.color__title__snapshot {
    font-size: 24px;
    line-height: 30px;
    color: #F16D7F;
}

.woman__snapshot {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/woman.png);
}

.man__snapshot {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/man.png);
}

.kid__snapshot {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/kids.png);
}

.things__snapshot {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/collection/snapshot/things.png);
}

.container__Product {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__CardProduct {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}

.text__CardProduct {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #9F9F9F;
}

.container__CardProduct {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__CardProduct {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.Cards__CardProduct {
    margin-top: 30px;
    width: 360px;
    height: 581px;
    background: #F8F8F8;
}

.title__Card {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 25px 28px 0 18px;
    text-transform: uppercase;
}

.text__Card {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 13px 28px 18px 18px;
}

.price__Card {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: 0 28px 0 18px;
}

.btn__CardProduct {
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    display: block;
    width: 211px;
    height: 47px;
    background: white;
    margin-top: 49px;
}

.section__inform {
    background: #222224;
    margin-top: 95px;
    height: 21.3125em;
}

.container__inform {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.blok__inform {
    width: 360px;
    height: 134px;
    text-align: center;
}

.title__block__inform {
    margin-top: 28px;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.text__block__inform {
    margin-top: 16px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}

.section__subscribe {
    height: 28em;
    background: url(../img/footer/photo-subscribe.jpg) no-repeat;
    background-size: cover;
}

.container__subscribe {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.biography__subscribe {
    background: url(../img/footer/Intersect.png) no-repeat center 0;
    padding-top: 100px;
}

.text__biography__subscribe {
    max-width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.inquiry__subscribe {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title__inquiry {
    color: #222224;
    font-size: 18px;
}

.text__inquiry {
    color: #222224;
    font-size: 24px;
    line-height: 167.2%;
}

.form__inquiry__subscribe {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.inp__form__subscribe {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border: #E1E1E1;
    height: 3.5em;
    border-radius: 50px 0 0 50px;
    width: 18.285714285714285em;
    padding-left: 22px;
}

.btn__form__subscribe {
    background: #F16D7F;
    border: #F16D7F;
    height: 3.5em;
    width:7.142857142857143em;
    border-radius: 0 50px 50px 0;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.footer {
    background: #222224;
    height: 79px;
}

.container__footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text__footer {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}