@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* _______________Навигация страницы католог_________________ */
.navСatolog {
  height: 148px;
  background: #f8f3f4;
}

.navСatolog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navСatolog h1 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.navСatolog__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navСatolog__breadcrumbs__subtite {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.navСatolog__breadcrumbs__subtite--color {
  color: #f16d7f;
}

.benefits {
  padding: 51px 0 96px 0;
  position: relative;
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.benefits__filter {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__filter__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__filter__right__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__filter__right__choice:not(:first-child) {
  margin-left: 28px;
}

.benefits__filter__right__choice h2 {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-right: 10px;
}

.filter {
  width: 360px;
  background: #FFFFFF;
  position: relative;
  list-style-type: none;
}

.filter::-webkit-details-marker {
  display: none;
}

.filter__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__name h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 11px;
}

.filter__content {
  padding: 16px 17px 16px 17px;
  position: absolute;
  z-index: 1;
  list-style-type: none;
  background: #FFFFFF;
  width: 360px;
  left: 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  list-style-type: none;
}

.filter__content summary {
  height: 37px;
  padding-left: 16px;
  border-left: 5px solid #f16d7f;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EBEBEB;
}

.filter__content ul {
  margin-top: 24px;
  margin-left: 12px;
  list-style-type: none;
}

.filter__content ul li:not(:first-child) {
  margin-top: 11px;
}

.filter details:not(:first-child) {
  margin-top: 18px;
}

.filter details::-webkit-details-marker {
  display: none;
}

.filter[open] {
  padding-left: 16px;
}

.filter[open] summary {
  color: #f16d7f;
}

.filter[open] > summary {
  color: #f16d7f;
  outline: none;
  border: none;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background: #FFFFFF;
}
/*# sourceMappingURL=test.css.map */