* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: #F1E4E6;
}

.nav {
    background: #222222;
}

.container__nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 18px 0 19px 0;
    line-height: 0;
}

.search__nav {
    margin-left: 41px;
}

.stripes__nav {
    margin-right: 41px;
}

.logoman__nav {
    margin-right: 41px;
}

.header__floor {
    height: 764px;
    width: 100%;
    display: flex;
}

.header__man {
    background: url(../img/header/man.png);
    background-position: -225px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.header__tagline {
    background: url(../img/header/brand.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* background-position: center; */
    background-position-y: center;
}

.section_collection {
    background: white;
}

.container_section_collection {
    display: flex;
    flex-direction: column;
}

.snapshot_collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 65px;
}

.things__snapshot_collection {
    margin-top: 30px;
}

.title_collection {
    margin-top: 96px;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.text__collection {
    margin-top: 6px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.CardProduct_collection {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.CardSSProduct {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    margin-top: 30px;
}

.title__Card {
    margin-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text__Card {
    margin: 13px 0 18px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price__Card {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.btn_collection {
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
    margin-top: 48px;
    align-self: center;
    margin-bottom: 109px;
}

.footer {
    background: #222224;
}

.container__block_inform {
    display: flex;
    justify-content: space-between;
    padding: 104px 0;
}

.delivery_blok {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
}

.Sales_blok {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
}

.Quality_blok {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
}

.logo__block_inform {
    display: block;
}

.title__block_inform {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 25px;
    text-align: center;
}

.text__block_inform {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
}

.blok_subscribe__footer {
    height: 448px;
    background: url(../img/footer/photo-subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container__block_subscribe {
    height: 448px;
    display: flex;
    /* justify-content: center; */
    width: 100%;
}


/* Блок неправильно спозиционирован */

.biography__block_subscribe {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 557px;
}

.photo__block_subscribe {
    margin-bottom: 25px;
}

.text__block_subscribe {
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.inquiry__block_subscribe {
    display: flex;
    justify-content: center;
}

.inquiry__block {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.title__block_subscribe {
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    font-weight: normal;
    margin-bottom: 32px;
}

.text_block_subscribe {
    font-weight: bold;
}


/* Границы должны быть скруглены */

.btn_block_subscribe {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    border: #E1E1E1;
    /* border-radius: 20px; */
}

.btn__subscribe {
    width: 100px;
    height: 49px;
    background: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: #F16D7F;
    /* border-radius: 20px; */
    margin-left: -4px;
}

.containerdownF {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
}

.text_containerdownF {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.logo_facebook {
    margin-right: 2px;
    background-color: #F8F8F8;
}

.logo_insta {
    margin-right: 2px;
}

.logo_pinterest {
    margin-right: 2px;
    background-color: #F8F8F8;
}